<div class="main">
    <h4>This website is not affiliated with Nintendo or Pokemon Company.</h4>
    <h4>All data made available by the <a href="https://pokemontcg.io/">pokemontcg api</a>.</h4>
    <h4>Developed by Kauã Andrade Pacheco</h4>
    <div class="links">
        <div class="link">
            <a href="https://github.com/Kaappoo/"  target="_blank">
                Github
            </a>
        </div>
        <div class="link">
            <a href="https://www.linkedin.com/in/kau%C3%A3-andrade-pacheco-360675226/" target="_blank">
                Linkedin
            </a>
        </div>
    </div>
</div>