<div class="main">
  <div class="banner">New Cards!</div>
  <div class="featured">
    <div class="carousel">
      @if(!isLoadingNewCards){

        <swiper-container
          class="swiper"
          slides-per-view="3"
          centered-slides="false"
          round-lengths="true"
          loop="true"
          autoplay="true"
          delay="2000"
          height="400">
          <swiper-slide class="card" (click)="viewCard(recentCards[0].id)">
            <img [src]="recentCards[0].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
          <swiper-slide class="card" (click)="viewCard(recentCards[1].id)">
            <img [src]="recentCards[1].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
          <swiper-slide class="card" (click)="viewCard(recentCards[2].id)">
            <img [src]="recentCards[2].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
          <swiper-slide class="card" (click)="viewCard(recentCards[3].id)">
            <img [src]="recentCards[3].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
          <swiper-slide class="card" (click)="viewCard(recentCards[4].id)">
            <img [src]="recentCards[4].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
          <swiper-slide class="card" (click)="viewCard(recentCards[5].id)">
            <img [src]="recentCards[5].images.small" alt="" srcset="" loading="lazy" />
          </swiper-slide>
        </swiper-container>
      } @else {
        <h1>ITS LOADING</h1>
      }
    </div>
    <div class="cta">
      <button routerLink="/cards">See all cards</button>
    </div>
  </div>
  <div class="main-content">
    <div class="section">
      <div class="section-content">
        <h1>New Releases!</h1>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum
          aliquam urna sed posuere. Phasellus tellus sem, vestibulum nec purus
          in, lobortis pulvinar lectus. Cras aliquam augue mi, vitae ultrices
          ligula mollis nec. Duis pulvinar orci vitae suscipit gravida. Etiam
          neque velit, malesuada sit amet auctor in, efficitur a enim.</span
        >
        <button (click)="goToNewReleases()">CHECK OUT</button>
      </div>
      <div class="section-image">
        <img
          src="https://assetsio.gnwcdn.com/pokemon_tcg_ex_raidons_preview.png?width=1200&height=630&fit=crop&enable=upscale&auto=webp"
          alt=""
        />
      </div>
    </div>

    <div class="slider">
        <swiper-container
          class="swiper small"
          slides-per-view="5"
          loop="true"
          autoplay="true"
          delay="2000">
          @for (card of recentCards; track $index) { @if ($index > 4) {
          <swiper-slide class="card small" (click)="viewCard(card.id)">
            <img [src]="card.images.small" alt="" srcset="" loading="lazy"/>
          </swiper-slide>
          } }
        </swiper-container>
      </div>
      
    <div class="section reverse">
      <div class="section-content">
        <h1>Expansions!</h1>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum
          aliquam urna sed posuere. Phasellus tellus sem, vestibulum nec purus
          in, lobortis pulvinar lectus. Cras aliquam augue mi, vitae ultrices
          ligula mollis nec. Duis pulvinar orci vitae suscipit gravida. Etiam
          neque velit, malesuada sit amet auctor in, efficitur a enim.
        </span>
        <button routerLink="/sets">CHECK OUT</button>
      </div>
      <div class="section-image">
        <img
          src="https://www.pokemon.com/static-assets/content-assets/cms2/img/attend-events/_tiles/2021/tcg-rotation/tcg-2021-rotation-169-en.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="slider-title">
      <h2>Most expensive cards</h2>
    </div>
    <div class="slider">
      <swiper-container
        class="swiper small"
        slides-per-view="5"
        loop="true"
        centered-slides="true"
        centered-slides-bounds="true"
        autoplay="true"
        delay="2000">
        @for (card of expensiveCards; track $index) { @if ($index > 4) {
        <swiper-slide class="card small" (click)="viewCard(card.id)">
          <img [src]="card.images.small" alt="" srcset="" />
        </swiper-slide>
        } }
      </swiper-container>
    </div>
    
    <div class="select-pokemon">
      <h2>Popular pokemon</h2>
      <div class="pokemon-buttons">
        <div class="collumn">
          <div class="pokemon charizard" (click)="goToPokemon('charizard')">
            <span>charizard</span>
          </div>
        </div>
        <div class="collumn">
          <div class="pokemon pikachu" (click)="goToPokemon('pikachu')">
            <span>pikachu</span>
          </div>
          <div class="pokemon eevee" (click)="goToPokemon('eevee')">
            <span>eevee</span>
          </div>
        </div>
        <div class="collumn">
          <div class="pokemon snorlax" (click)="goToPokemon('snorlax')">
            <span>snorlax</span>
          </div>
        </div>
        <div class="collumn">
          <div class="pokemon mew" (click)="goToPokemon('mew')">
            <span>mew</span>
          </div>
          <div class="pokemon gengar" (click)="goToPokemon('gengar')">
            <span>gengar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
