<div class="main">
  <div class="banner">
    Novas Cartas!
  </div>
  <div class="carousel">
    <carousel [dots]="false" [counter]="false" [slideToShow]="4" [arrows]="false">
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[0])">
            <img [src]="recentCards[0].images.small" alt="" srcset="" />
          </div>
        </div>
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[1])">
            <img [src]="recentCards[1].images.small" alt="" srcset="" />
          </div>
        </div>
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[2])">
            <img [src]="recentCards[2].images.small" alt="" srcset="" />
          </div>
        </div>
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[3])">
            <img [src]="recentCards[3].images.small" alt="" srcset="" />
          </div>
        </div>
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[4])">
            <img [src]="recentCards[4].images.small" alt="" srcset="" />
          </div>
        </div>
        <div class="carousel-slide">
          <div class="card" (click)="goToCard(recentCards[5])">
            <img [src]="cards[5].images.small" alt="" srcset="" />
          </div>
        </div>
    </carousel>
  </div>
  <div class="main-content">
    <div class="featured-cards">
      <div class="section-title">
        <h1>cartas!!!</h1>
      </div>
      <div class="cards">
        @for (card of cards; track $index) {
        <div class="card">
          <img [src]="card.images.small" alt="" srcset="" />
        </div>
        }
      </div>
    </div>
    <div class="recent-cards">
      <div class="section-title">
        <h1>cartas novas!!</h1>
        <span>essas sao novas em o yes</span>
      </div>
      <div class="cards">
        @for (card of recentCards; track $index) {
        <div class="card">
          <img [src]="card.images.small" alt="" srcset="" />
          <!-- <h3>{{card.name}}</h3> -->
        </div>
        }
      </div>
    </div>

  </div>


</div>
