<div class="main">
  <div class="cards-header">
    <h2>cards search</h2>
  </div>
  <div class="cards-main">
    <div class="cards-side">
      <div class="select">
        <label for="name">Select Set</label>
        <p-autoComplete
          [(ngModel)]="selectedSet"
          [dropdown]="true"
          [suggestions]="filteredSets"
          (completeMethod)="filterSet($event)"
          field="name"
          (onSelect)="onSelectSet($event)"
        />
      </div>
      <div class="select">
        <label for="name">Select Type</label>
        <p-autoComplete
          [(ngModel)]="selectedType"
          [dropdown]="true"
          [suggestions]="filteredTypes"
          (completeMethod)="filterType($event)"
          (onSelect)="onSelectType($event)"
        />
      </div>
      <div class="select">
        <label for="name">Select Subtype</label>
        <p-autoComplete
          [(ngModel)]="selectedSubtype"
          [dropdown]="true"
          [suggestions]="filteredSubtypes"
          (completeMethod)="filterSubtype($event)"
          (onSelect)="onSelectSubtype($event)"
        />
      </div>
    </div>
    <div class="cards">
      @if (!isLoading) { @if (cards.length) { @for (card of cards; track $index)
      {
      <div class="card vanillaTilt" data-tilt>
        <img [src]="card.images.small" alt="" />
      </div>
      } } @else {
      <h1>NO MATCH</h1>
      } } @else {
      <h1>ITS LOADING</h1>
      }
    </div>
  </div>
  @if (!isLoading ) {
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="request.first"
    [rows]="request.rows"
    [totalRecords]="totalCardsCount"
    [rowsPerPageOptions]="[20, 30, 50]"
    class="paginator"
    [showPageLinks]="false"
    [showJumpToPageDropdown]="false"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  />
  }
</div>
